/* Body font */
@font-face {
  font-family: "Charter";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/charter/CharterRegular.otf") format("otf");
  font-display: swap;
}

@font-face {
  font-family: "Charter";
  font-weight: 400;
  font-style: italic;
  src: url("../fonts/charter/CharterItalic.otf") format("otf");
  font-display: swap;
}

@font-face {
  font-family: "Charter";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/charter/CharterBold.otf") format("otf");
  font-display: swap;
}

@font-face {
  font-family: "Charter";
  font-weight: 700;
  font-style: italic;
  src: url("../fonts/charter/CharterBoldItalic.otf") format("otf");
  font-display: swap;
}

/* Main Heading */
@font-face {
  font-family: "Radley";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/radley/RadleyRegular.ttf") format("ttf");
  font-display: swap;
}
