body {
  --bg: #fcf7f8;
  --text: #000;
  --text-primary: #fff;
  background-color: var(--bg);
  color: var(--text);
  --primary: #800000;
}

body.dark {
  --bg: #121212;
  --text: #fff;
  --text-primary: #000;
  --primary: #c43d34;
}

.dropdown:hover .dropdown-content {
  display: block;
}
