body {
  --bg: #fcf7f8;
  --text: #000;
  --text-primary: #fff;
  background-color: var(--bg);
  color: var(--text);
  --primary: #800000;
  --dropdown-shadow: 0px 10px 13px -3px rgba(232, 232, 232, 1);
  --dropdown-bg: var(--bg);
}

body.dark {
  --bg: #121212;
  --text: #fff;
  --text-primary: #000;
  --primary: #c43d34;
  --dropdown-shadow: none;
  --dropdown-bg: #1e1e1e;
}
