@import "./fonts.css";
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body {
  --bg: #fff;
  --ibg: #121212;
  --text: #000;
  --text-primary: #fff;
  background-color: var(--bg);
  color: var(--text);
  --primary: #800000;
  --primary-75: #ca655e;
  --primary-50: #d18d89;
  --primary-25: #d7b5b3;
  --section: #f6f6f6;
  --dropdown-shadow: 0px 10px 13px -3px rgba(232, 232, 232, 1);
  --dropdown-bg: var(--bg);
  --footer-bg: #11151c;
  --footer-secondary: #11151c;
  --author-border: rgba(0, 0, 0, 0.2);
  --ft1: #1e1e1e;
  --ft2: #2a2a2a;
  --fg1: #edf2f7;
  --p100: #757575; /* 600 */
  --p75: #9e9e9e; /* 500 */
  --p50: #bdbdbd; /* 400 */
  --p25: #e0e0e0; /* 300 */
  --gray-btn: #4a5568;
  --gray-btn-hover: #718096;
  --font-heading: "Radley", "Times New Roman", "Times", "serif";
  --font-body: "Charter", "Times New Roman", "Times", "serif";
  --font-subheading: "Montserrat", "sans-serif";
}

body.dark {
  --bg: #121212;
  --ibg: rgba(255, 255, 255, 0.5);
  --ft1: #1e1e1e;
  --ft2: #2a2a2a;
  --fg1: #1e1e1e;
  --text: #fff;
  --text-primary: #000;
  --section: #181818;
  /* #151515 */
  --primary: #c43d34;
  --dropdown-shadow: none;
  --dropdown-bg: #1e1e1e;
  --footer-bg: #31353c;
  --footer-secondary: #11151c;
  --author-border: rgba(255, 255, 255, 0.2);
  --p100: #212121; /* 900 */
  --p75: #424242; /* 800 */
  --p50: #616161; /* 700 */
  --p25: #757575; /* 600 */
  --gray-btn: #a0aec0;
  --gray-btn-hover: #718096;
}

.maindiv {
  margin-top: 10vh;
}

@media only screen and (max-width: 600px) {
  .maindiv {
    margin-top: 0;
  }
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  /* border: 1px solid green; */
  -webkit-text-fill-color: var(--text);
  -webkit-box-shadow: 0 0 0px 1000px var(--bg) inset;
  box-shadow: 0 0 0px 1000px var(--bg) inset;
  transition: background-color 5000s ease-in-out 0s;
}

.bloghover:hover {
  transform: scale(1.1);
  transition: all 0.5s ease;
}

.bloghover {
  transition: all 0.5s ease;
}

blockquote::before {
  font-family: Arial;
  content: "\201C";
  color: var(--primary);
  font-size: 15em;
  position: absolute;
  left: 0;
  top: -100px;
  opacity: 0.2;
}

blockquote {
  border-left: 6px var(--primary) solid;
  background-color: var(--fg1);
}

blockquote p {
  margin-left: 2rem;
  font-style: italic;
}

.blog a {
  border: 3px var(--bg) solid;
  border-bottom: 3px var(--primary-75) solid;
  transition: background-color 0.4s, border 0.4s, color 0.4s;
}

.blog a:hover {
  border: 3px var(--primary-75) solid;
  background-color: var(--primary-75);
  color: var(--text-primary);
}
/* 
.box {
  width: 200px; height: 100px;
  background-size: 100% 200%;
  background-image: linear-gradient(to bottom, red 50%, black 50%);
  transition: background-position 1s;
}

.box:hover {
  background-position: 0 -100%;
} */
